extends layout

block content
page.header
    ul.header
        li
            a(href='#l1') li.l1 SAS
        li
            a(href='#l2') li.l2 SAS
        li
            a(href='#l3') li.l3 SAS
        li
            a(href='#l4') li.l4 SAS
        li
            a(href='#l5') li.l5 SAS
        li
            a(href='#l6') li.l6 SAS
        li
            a(href='#l7') li.l7 SAS
        li 
            a(href='#l8') li.l8 SAS
        li
            a(href='#l9') li.l9 SAS
        li
            a(href='#l10') li.l10 SAS
p
    It is gonna be great site