extends layout

block styles
    link(rel='stylesheet', href='/css/home.css')

block content
    h3.cmp companies
    - for(var i=0; i<8; i++)
        .comp(href="#")
          img.armLogo(src="/img/armani.png")    