extends layout

block styles
    link(rel='stylesheet', href='/css/styles/hotsalesstyle.css')

block content
    #content
        header
            h1 Մտածու՞մ ես ինչ նվրիել քո սիրելիին, մայրիկին կամ մեկ ուրիշին, ապա մենք կօգնենք քեզ այդ հարցում 
            
        form#all(action='/results' method='get')
            h5
                i Լրացրեք դաշտերը և ստացեք համապատասխան նվերների ցանկ
            select.select(name="age")
                option(value='0' selected) Տարիք
                option(value='0-6') 0-6
                option(value='6-14') 6-14
                option(value='14-20') 14-20
                option(value='20-30') 20-30
                option(value='30-45') 30-45
                option(value='45․') 45 և ավել
            select.select(name="gender")
                option(value='0' selected) Սեռ
                option(value='male') Իգական
                option(value='female') Արական
            select.select(name="occasion")
                option(value='0') Առիթ
                option(value='1') Ծնունդ
                option(value='2') Մարտի 8
                option(value='3') Ապրիլի 7
                option(value='3') Սուրբ Վալենտին
                option(value='4') Սեպտեմբերի 1
                option(value='5') Վերջին զանգ
                option(value='6') Հունիսի 1
                option(value='7') Նոր տարի
                option(value='8') Հայկական բանակի օր
                option(value='9') Փետրվարի 23
                option(value='10') Առանց առիթ
            select.select(name="price")
                option(value='0' selected) Գին
                option(value='1') 0 Դրամ
                option(value='1-20') 1-2,000 Դրամ
                option(value='20-50') 2,000-5,000 Դրամ
                option(value='50-150') 5,000-10,000 Դրամ 
                option(value='150-500') 10,000-25,000 Դրամ
                option(value='500.') 25,000-100,000 Դրամ
                option(value='500.') 100,000 դրամ և ավելի
            br
            button.select(type='submit') Փորձել!
