extends layout

html
  head
    link(rel='stylesheet', type='text/css', href='home.css')
  body
    h1 Sales site
    hr
    .row
      ul
        a(href='#l1')
          li.l1 SAS
        | &#x9;
        a(href='#l2')
          li.l2 SAS
        | &#x9;
        a(href='#l3')
          li.l3 SAS
        |     
        a(href='#l4')
          li.l4 SAS
        |     
        a(href='#l5')
          li.l5 SAS
        |     
        a(href='#l6')
          li.l6 SAS
        |     
        a(href='#l7')
          li.l7 SAS
        |     
        a(href='#l8')
          li.l8 SAS
        |     
        a(href='#l9')
          li.l9 SAS
        |     
        a(href='#l10')
          li.l10 SAS
      |   
      |     
      p It is gonna be a great site
