<DOCTYPE! html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <h1>Sales site</h1>
<hr>
<div class="row">
 <ul>
    <a href="#l1"><li class="l1">SAS</li></a>
	<a href="#l2"><li class="l2">SAS</li></a>
	<a href="#l3"><li class="l3">SAS</li></a>
    <a href="#l4"><li class="l4">SAS</li></a>
    <a href="#l5"><li class="l5">SAS</li></a>
    <a href="#l6"><li class="l6">SAS</li></a>
    <a href="#l7"><li class="l7">SAS</li></a>
    <a href="#l8"><li class="l8">SAS</li></a>
    <a href="#l9"><li class="l9">SAS</li></a>
    <a href="#l10"><li class="l10">SAS</li></a>
 </ul>  
    <p>It is gonna be a great site</p>
</div>


	
</body>
</html>