extends layout

block styles
    link(rel='stylesheet', href='/css/styles/hotsalesstyle.css')

block content
    #content
        header
            h1 Մտածու՞մ ես ինչ նվրիել քո սիրելիին, մայրիկին կամ մեկ ուրիշին, ապա մենք կօգնենք քեզ այդ հարցում 
            
        form#all(action='/results' method='get')
            h5
                i Լրացրեք դաշտերը և ստացեք համապատասխան նվերների ցանկ
            select.select(name="age")
                option(value='0' selected) Տարիք
                option(value='0-6') 0-6
                option(value='6-14') 6-14
                option(value='14-20') 14-20
                option(value='20-30') 20-30
                option(value='30-45') 30-45
                option(value='45․') 45 և ավել
            select.select(name="gender")
                option(value='0' selected) Սեռ
                option(value='male') Իգական
                option(value='female') Արական
            select.select(name="occasion")
                option(value='0' selected) Առիթ
                option(value='1') Ծնունդ
                option(value='2') Մարտի 8
                option(value='3') Նոր տարի
            select.select(name="price")
                option(value='0' selected) Գին
                option(value='1') 0$
                option(value='1-20') 1-20%
                option(value='20-50') 20-50$
                option(value='50-150') 50-150$  
                option(value='150-500') 150-500$  
                option(value='500.') 500$  և ավել
            br
            button.select(type='submit') Փորձել!
