extends layout

block styles
    link(rel='stylesheet', href='/css/hotsalesstyle.css')

block content

    


  .page-header
    h2 Here you will find the best suggestions for you.
    h3 Categories
  
    ul.header
        li 
            a(href='/', class=(title == 'Electronics') ? 'active' : undefined)   Electronics
        li 
            a(href='/', class=(title == 'Computers and Office') ? 'active' : undefined)   Computers and Office
        li 
            a(href='/', class=(title == 'Phones and Accessories') ? 'active' : undefined)   Phones and Accessories
        li 
            a(href='/', class=(title == 'Automobiles and Motorcycles') ? 'active' : undefined)   Automobiles and Motorcycles
        li 
            a(href='/', class=(title == 'Clothing') ? 'active' : undefined)   Men's/Women's Clothing
        li 
            a(href='/', class=(title == 'Jewerly and Watches') ? 'active' : undefined)   Jewerly and Watches
        li 
            a(href='/', class=(title == 'Sports and Outdoors') ? 'active' : undefined)   Sports and Outdoors
        li 
            a(href='/', class=(title == 'Toys,Kids and Baby') ? 'active' : undefined)   Toys,Kids and Baby
        li 
            a(href='/', class=(title == 'Home and Garden,Furniture') ? 'active' : undefined)   Home and Garden,Furniture
    
    p.pull-left
        | Have any sugestions? Write us             

        a(href='/contact', class=(title == 'here') ? 'active' : undefined) here.     
    