extends layout

block content
  .page-header
    h3 Here you will find the best suggestions for you.
    table(border='0')
    thead
        tr
            th #
            th Name
            th Price
            th Company
    tbody
       
            tr
                td 1
                td Ford Mustang
                td 30.000$
                td Ford Motors
    ul
    	
  p Hot Sales !!!