extends layout

block content
  .page-header
    h3 Here you will find the best suggestions for you.
    table(border='0')
    thead
        tr
            th # th
            th Name th
            th Price th
            th Company th
    tbody
       
            tr
                td 1 td
                td Ford Mustang td 
                td 30.000$ td
                td Ford Motors td
    
    	
  p Hot Sales !!!