extends layout

block content
  .page-header
    h3 Here you will find the best suggestions for you.
    h4 Categories
   
    ul
        li a(href='/') Electronics
    	li a(href='/') Cars
    	li a(href='/') Clothes
    	li a(href='/') Computers & Office
    	li a(href='/') Jewerly and Watches
    	li a(href='/') Home & Garden,Furniture
    
    	
  p Hot Sales !!!