extends layout

block content

    


  .page-header
    h2 Here you will find the best suggestions for you.
    h3 Categories
  
    ul.header
        li 
            a(href='/', class=(title == 'Electronics') ? 'active' : undefined)   Electronics
        li 
            a(href='/', class=(title == 'Cars') ? 'active' : undefined)   Cars
        li 
            a(href='/', class=(title == 'Clothes') ? 'active' : undefined)   Clothes
        li 
            a(href='/', class=(title == 'Computers and Office') ? 'active' : undefined)   Computers and Office
        li 
            a(href='/', class=(title == 'Jewerly and Watches') ? 'active' : undefined)   Jewerly and Watches
        li 
            a(href='/', class=(title == 'Home and Garden,Furniture') ? 'active' : undefined)   Home and Garden,Furniture
    
    p.pull-right 
        | Have any sugestions? Write us             

        a(href='/contact', class=(title == 'here') ? 'active' : undefined) here.     
    p.pull-right
        | Thank you for your feedback.