extends layout

block styles
    link(rel='stylesheet', href='/css/hotsalesstyle.css')

block content
    h3 Hottest Suggestions for you
    - for(var i=0; i<8; i++)
        .item(href="#" )
            h4 Cloth - 7$
            .description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid, si etiam iucunda memoria est praeteritorum malorum? Duo Reges: constructio interrete. 
            span.sale.pull-right -5 %
            img.cmpLogo.pull-left(src="/img/armani.png")