extends layout

block content
  .page-header
    h3 Here you will find the best suggestions for you.
    table(border='0')
   
        tr
            td # 
            td Name 
            td Price 
            td Company 
   
        
        tr
            td 1 
            td Ford Mustang 
            td 30.000$ 
            td Ford Motors 
    
    	
  p Hot Sales !!!