extends layout

block content
  .page-header
    h3 Here you will find the best suggestions for you.
    h4 Categories
   
    ul#subjects
        li a(href="#") Subject |: Electronics
        li a(href="#") Subject |: Cars
        li a(href="#") Subject |: Clothes
        li a(href="#") Subject |: Computers & Office
        li a(href="#") Subject |: Jewerly and Watches
        li a(href="#") Subject |: Home & Garden,Furniture
    
        
  p Hot Sales !!!