ul{
	list-style-type: none;
}
ul li:hover{
	font-size: 20px;
}
a {
	text-decoration: none;
}
a:visited{
	color: #003333;
}
a:active{
	color: #00cc66;
}
.l1 {
	margin-left: 80px;
	padding: 5px;
}
.l2 {
	margin-left: 80px;
	padding: 5px;
}
.l3 {
	margin-left: 80px;
	padding: 5px;
}
.l4 {
	margin-left: 80px;
	padding: 5px;
}
.l5 {
	margin-left: 80px;
	padding: 5px;
}
.l6 {
	margin-left: 80px;
    padding: 5px;
}
.l7 {
	margin-left: 80px;
	padding: 5px;
}
.l8 {
	margin-left: 80px;
	padding: 5px;
}
.l9 {
	margin-left: 80px;
	padding: 5px;
}
.l10 {
	margin-left: 80px;
	padding: 5px;
}
