@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 20px;
  margin-bottom: 75px;
  background-image: url('/img/background2.jpg');
  background-repeat: no-repeat;
}

.title {
  text-align:center;
  color:#000;
  margin-top:200px
}

header {
  text-align:center;
  color:#3C2F2F;
}

header h1{
  color:#3C2F2F;
  width:80%;
  margin:0 auto;
}

#admin {
  input {
  margin-top: 7px;
  }
}


#content {
  width: 79%;
  min-height: 450px;
  /*background-color: rgba(225, 218, 217, 0.72);*/
  margin: 0 auto;
  border-radius: 15px;
  padding: 35px 0; 
  overflow: auto;
  margin-top:100px;
  margin-bottom: 50px;
}

footer {
  position:absolute;
  bottom:0;
}

.logo {
  width:50px;
  margin-top:-25px;
} 


.logo:hover {
  width: 52px;
  transition:0.3s;
  margin-top: -27px;
  }
  

#black {
  background-color: black;
  opacity: 0.2;
  width:100%;
  height:100%;
  position: fixed;
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------


// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
